<nav class="fixed w-full bg-gray-800">
  <div class="max-w-full px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <!-- Left section: Logo and Title -->
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <img class="h-8 w-auto" src="https://static.vecteezy.com/system/resources/previews/024/697/262/non_2x/brain-mind-or-intelligence-silhouette-icons-black-line-art-symbols-isolated-on-white-background-design-elements-for-label-banner-poster-for-health-products-food-and-medicine-illustration-vector.jpg">
        </div>
        <div class="ml-3 text-2xl font-light text-white" routerLink="">
          <span class="text-white-500">CognitiveVault</span>
        </div>
      </div>

      <!-- Right section: Sign In, Sign Up and Profile -->
      <div class="flex items-center space-x-4">
        <a routerLink="login" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white">Sign in</a>
        <a routerLink="signup" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" >Sign up</a>
      </div>
    </div>
  </div>
</nav>


