.bg-gray-700 {
  background-color: #374151;
}

/* Ensure proper width and height */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.cursor-pointer {
  cursor: pointer;
}

textarea {
  scrollbar-width: none; /* For Firefox */
}

textarea::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
